.ai-services {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  min-height: 100vh;
  background: #0f0f0f;
  color: #fff;
}

/* LEFT PANEL */
.left-panel {
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h2 {
  font-size: 34px;
  font-weight: 500;
  
}
.left-panel h4 {
    font-family: 'Playfair Display', serif;
  font-weight: 300;
}
.left-panel p {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.85;
  max-width: 520px;
}

/* SERVICES GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin: 40px 0;
}

.service-card {
  position: relative;
  height: 230px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  inset: 0;
 
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-icon {
  width: 50px;
}

.card-overlay span {
 
  font-size: 17px;
  font-weight: bold;
  
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

/*.arrow {
  align-self: flex-end;
  background: #EB5629;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 14px;
}*/
.arrow {
  width: 38px;
  height: 38px;
  background: #ff6a2a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow i {
  color: #fff;
  font-size: 16px;
}
.service-card:hover .arrow {
  background: #ff7a18;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.card-footer {
  display: flex;
  align-items: center;        /* KEY FIX */
  justify-content: space-between;
  width: 100%;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.primary {
  background: #EB5629;
  border: none;
  color: #fff;
}

.outline {
  background: transparent;
  border: 1px solid #EB5629;
  color: #fff;
}

/* RIGHT IMAGE */
.right-image {
  background-size: cover;
  background-position: center;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .ai-services {
    grid-template-columns: 1fr;
  }

  .right-image {
    min-height: 400px;
  }
}

@media (max-width: 600px) {
  .left-panel {
    padding: 40px 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .left-panel h2 {
    font-size: 26px;
  }
}
