.carousel-wrapper {
  background: radial-gradient(circle at top, #151530, #060611);
  padding: 80px 0;
  overflow: hidden;
}

/* Swiper */
.curved-swiper {
  height: 260px;
  position: relative;
  perspective: 1200px;
}

/* Top & bottom curve mask */
.curved-swiper::before,
.curved-swiper::after {
  content: "";
  position: absolute;
  left: -10%;
  width: 120%;
  height: 50px;
  background:#000 ;
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
}

.curved-swiper::before { top: -30px; }
.curved-swiper::after { bottom: -34px; }

/* Slides */
.curved-slide {
  width: 240px !important;
  display: flex;
  justify-content: center;
}

/* Card */
.card {
  width: 230px;
  /*height: 230px;*/
  /*border-radius: 18px;*/
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
}
h2 {
    font-size: 34px;
  font-weight: 500;
}
span {
   color: #EB5629;
}
h4 {
    font-family: 'Playfair Display', serif;
  font-weight: 300;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.card-top {
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
line-height: 30px;}
/* Overlay text */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,.65), transparent 100%);
}

.card p {
  position: absolute;
  bottom: 40px;
  left: 14px;
  right: 14px;
  font-size: 16px;
  color: #fff;
  z-index: 2;
  line-height: 1.4;
}
/* Buttons */
.actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.primary {
  background: #EB5629;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 999px;
  cursor: pointer;
}

.secondary {
  background: transparent;
  border: 1px solid #EB5629;
  color: #EB5629;
  padding: 12px 22px;
  border-radius: 999px;
  cursor: pointer;
}

/* CURVE SHAPE */
.curved-slide:nth-child(1)  { transform: rotateY(26deg) translateY(26px); }
.curved-slide:nth-child(2)  { transform: rotateY(18deg) translateY(14px); }
.curved-slide:nth-child(3)  { transform: rotateY(8deg)  translateY(6px); }
.curved-slide:nth-child(4)  { transform: rotateY(0deg); }
.curved-slide:nth-child(5)  { transform: rotateY(-8deg) translateY(6px); }
.curved-slide:nth-child(6)  { transform: rotateY(-18deg) translateY(14px); }
.curved-slide:nth-child(7)  { transform: rotateY(-26deg) translateY(26px); }
