.footer {
  background: #2f2f2f;
  color: #cfcfcf;
  padding: 50px 20px 0;
  
}

/* TOP SECTION */
.footer-top {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #4a4a4a;
}

/* BRAND */
.footer-brand img {
  width: 110px;
  margin-bottom: 14px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 420px;
}

/* LINKS */
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-links h4 {
  font-size: 14px;
  margin-bottom: 12px;
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.9;
}

.footer-links li:hover {
  opacity: 1;
  color: #EB5629;
}

/* BOTTOM */
.footer-bottom {
  max-width: 1200px;
  margin: auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  color: #bdbdbd;
}
.footer-bottom span {
    color: #fff;
}
.footer-policy span {
  margin-left: 18px;
  cursor: pointer;

}

.footer-policy span:hover {
  color: #EB5629;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-brand p {
    margin: auto;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    color: #fff;
  }

  .footer-policy span {
    margin-left: 10px;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .footer-links {
    grid-template-columns: 1fr;
  }
}
