.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 30px;
  padding: 10px 24px;
  border-radius: 40px;
  backdrop-filter: blur(12px);
  border:1px solid #686464cc
}

.nav a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.nav a:hover {
  color: #EB5629;
}
.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-outline {
  padding: 8px 16px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #EB5629;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  border-radius: 20px;
  background: #EB5629;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 900px) {
  .nav,
  .header-buttons {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}
/* Toggle button */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 24px;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

/* Open (X) animation */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: #050514;
  padding: 20px;
}

.mobile-menu.show {
  display: flex;
}

.mobile-menu a {
  padding: 12px 0;
  color: #fff;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 992px) {
  .desktop {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
}
