.why-section {
  padding: 100px 20px;
  background-color: #0a0614;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.why-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.why-title {
  font-size: 27px;
  letter-spacing: 2px;
  color: #fff
}

.why-subtitle {
  font-size: 18px;
  margin-bottom: 16px;
   font-family: 'Playfair Display', serif;
  font-weight: 300;
}

.why-desc {
  max-width: 820px;
  margin: 0 auto 50px;
  font-size: 15px;
  line-height: 1.7;
  color: #d0d0d0;
}

/* GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* CARD */
.why-card {
  position: relative;
  padding: 34px 26px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  text-align: left;
  transition: all 0.35s ease;
  overflow: hidden;
}

/* dotted overlay */
.why-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 1px
  );
  background-size: 14px 14px;
  opacity: 0.25;
  pointer-events: none;
}

/* glow */
.why-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: radial-gradient(
    circle at top left,
    rgba(255, 140, 26, 0.35),
    transparent 60%
  );
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
}

.why-card:hover::before {
  opacity: 1;
}

.why-card:hover {
  transform: translateY(-8px);
  border-color: #eb5629;
}

/* ICON */
.why-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
   display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.why-icon img {
  width: 50px;
}

/* TEXT */
.why-card h4 {
  
  font-weight: 700;
}


.why-card p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 1.6;
}

/* BUTTON */
.why-btn {
  margin-top: 40px;
  padding: 14px 30px;
  border-radius: 30px;
  background: #eb5629;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.why-btn:hover {
  background: #eb5629;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}
